/bak/**/*
/straight/**/*
/straight_/**/*
/tmp/**/*
/eshell/**/*
/elpa/**/*
/cache/**/*
/cache/
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
.emacs.desktop.lock
org-roam.db
.mc-lists.el
.org-id-locations
